.container {
  margin-bottom: 32px;
  padding: 15px;
  background-color: #53575e1c;
  border: 1px solid #ffffff30;
}

.top {
  text-align: center;
  font-size: 1.2em;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1.8em;
  color: white;
}
