.card {
  background-color: #53575e4f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'title title'
    'check edit'
    'expand delete';
  gap: 5px;
  padding: 15px;
  border: #fdfcec27 solid 1px;
}
.complete {
  background-color: rgba(0, 128, 0, 0.212);
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'title title'
    'check edit'
    'expand delete';
  gap: 5px;
  padding: 15px;
  text-decoration-line: line-through;
}

.title {
  grid-area: title;
  text-align: center;
  font-size: 1.2em;
  word-wrap: break-word;
  word-break: break-all;
}

.checkIcon {
  grid-area: check;
  background-color: #53575ef2;
  font-size: 2em;
  justify-self: flex-end;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
}

.deleteIcon {
  grid-area: delete;
  background-color: #53575ef2;
  font-size: 2em;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
}

.editIcon {
  grid-area: edit;
  background-color: #53575ef2;
  font-size: 2em;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
}

.expandIcon,
.expandIcon a {
  grid-area: expand;
  background-color: #53575ef2;
  font-size: 2em;
  justify-self: flex-end;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
}

a {
  grid-area: expand;
  justify-self: flex-end;
}

.completeIcon {
  background-color: #5ea55e7a;
  font-size: 2em;
  opacity: 0.7;
}

.completeCheckIcon {
  background-color: #5ea55e7a;
  font-size: 2em;
  justify-self: flex-end;
  opacity: 0.7;
}
